@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');

  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf');

  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf');

  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100vh;

  background-color: #151515;
  color: white;

  font-family: 'Poppins', monospace;
}

.page{

  height: 100%;
  display: flex;
}

.left-info{

  flex: 0 0 300px;
}

.right-info{
  flex: 0 0 300px;

  box-sizing: border-box;
  padding-right: 10px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: stretch;
}

.boards-container{

  margin: auto;

  width: 445px;
  height: 900px;

  display: flex;
  flex-direction: column;

  gap: 10px;

}


.board{

  flex: 1;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  gap: 1px;

  position: relative;
}


.board.dark::after{

  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000060;
}



.enemy .cell:not(.hit):not(.reveal):not(.water):hover{

  cursor: pointer;
}

/** self */

.self .cell{

  background-color: #e0f2ff;
}

.self .cell.water{

  background-color: #bcdff1;
}

.self .cell.hit.reveal{

  background-color: #1d3557;
}

.self .cell.reveal{

  background-color: #457b9d;
}

.self .cell:hover{
  
  background-color: #a8dadc;
}

/** Enemy */

.enemy .cell{
  background-color: #fbe9e7;
}

.enemy .cell:hover{
  background-color: #ffab40;
}

.enemy .cell.water{

  background-color: #ffccbc;
}

.enemy .cell.hit{

  background-color: #e53935;
}

.enemy .cell.reveal{

  background-color: #b71c1c;
}